*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    font-family: sans-serif;
}

header{
    background-color: #222831;
    display: block;
    height: 80px;
}

h1{
    font-size: 250%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;

}

article{
    width: 80vw;
    margin: 0 auto;
    padding: 40px;
}

figure{
margin-bottom: 40px;

}

img{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s transform;
}

img:hover{
    transform: scale(1.05);
}
p{
    margin-bottom: 30px;
}

figcaption{
    font-size: 80%;
    font-style: italic;
}

audio{
    display: block;
    margin-top: 20px;
}

a{
    display: block;
}

video{
    width: 100%;
    margin-bottom: 40px;
    border-radius: 5px;
}

footer{
    background-color: #222831;
    display: block;
    height: 80px;
}